/* ========================================================================== */
/* NORMALIZE */
/* ========================================================================== */

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased; /* Improve text rendering on macOS */
  text-wrap: pretty;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

button, input, optgroup, select, textarea {
  font-family: inherit;
  font-size: 100%;
}

input, select {
  height: var(--form-ctrl-height);
}

/* ========================================================================== */
/* MAIN STYLING */
/* ========================================================================== */

html {
  /* Custom CSS properties */
  --standard-padding: 15px;
  --minor-padding: 5px;
  --sidebar-cell-width: 300px;
  --project-cell-height: 36px;
  --form-ctrl-height: 38px; /* this is close to the default height. use this to normalize height for the one-liner form controls, particularly for <select> which is oddly shorter than <input type="text"> */

  --palette-sidebar: #FCFAF8;
  --palette-highlight: #F2F0EE;
  --palette-highlight-dark: #ebebea;
  --palette-focus: #ffe5d6;
  --palette-accent: #dc583e;
  --palette-dark-gray: #636363;
  --palette-light-gray: #dfdfdf;
}

body {
  min-height: 100vh;

  display: grid;
  grid-template-columns: calc(var(--sidebar-cell-width) + 2*var(--standard-padding)) 1fr; 
  grid-template-areas: "sidebar main";
}

#sidebar { 
  grid-area: sidebar;
  width: calc(var(--sidebar-cell-width) + 2 * var(--standard-padding));
  height: 100vh;
  position: fixed;
  overflow: auto; /* add a scroll bar if a lot of projects. @todo need to test */

  padding: var(--standard-padding);
  background-color: var(--palette-sidebar);
}

#sidebar-create-todo-btn {
  width: 100%;
  height: 2.5rem;
  font-size: 1.2rem;
  color: var(--palette-accent);
  font-weight: bold;
  padding: var(--minor-padding);

  display: flex;
  align-items: center;
  gap: var(--standard-padding);
}

.create-todo-icon {
  width: 1.5rem;
  height: 1.5rem;
}

#sidebar-projects-title {
  width: 100%;
  font-size: 1.25rem;
  margin: 15px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#sidebar-create-project-btn {
  width: 1.5rem;
  height: 1.5rem;
}

#sidebar ul {
  list-style-type: none;
}

#main-container {
  grid-area: main;  
  display: flex;
  flex-direction: column;
  padding: 0 var(--standard-padding);
  word-break: break-all;
}

#main-topbar {
  display: flex; 
  justify-content: flex-end;
  background-color: white;

  padding: var(--standard-padding) 0;
  border-bottom: 1px solid var(--palette-light-gray);
}

.sticky {
  position: sticky;
  top: 0px;
}

#main-content {
  padding: var(--standard-padding) 10%;
  display: flex;
  flex-flow: column nowrap;
}

#notif {
  z-index: 1;
  position: fixed;
  bottom: 2vw;
  right: 2vw;

  min-width: 45ch;
  min-height: 4rem;
  border: 1px solid var(--palette-accent);
  box-shadow: 0px 2px 11px -3px var(--palette-dark-gray);
  background-color: white;
  padding: var(--standard-padding);
  border-radius: 4px;
  display: flex;
  align-items: center;
}

.hidden {
  visibility: hidden;
}

/* ========================================================================== */
/* GENERATED CONTENT */
/* ========================================================================== */

.project-cell {
  width: var(--sidebar-cell-width);
  display: grid;
  grid-template-columns: 1fr min-content;

  background-color: transparent;
  border-radius: 4px;
}

.project-cell:hover {
  background-color: var(--palette-highlight);
}

.project-cell .view-project-btn {
  display: flex;
  align-items: center;
  gap: var(--minor-padding);

  max-width: calc(var(--sidebar-cell-width) - 36px); /* Quick duct tape fix for overflows... */
  height: var(--project-cell-height);
  padding: var(--minor-padding);
}

.project-cell .project-sym {
  flex: none; /* in particular to prevent shrinking */
  width: 1rem;
  height: 1rem;
}

.project-cell.project-completed .project-sym path {
  d: path("M21,7L9,19L3.5,13.5L4.91,12.09L9,16.17L19.59,5.59L21,7Z");
}

.project-cell .project-title {
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.project-completed {
  /* text-decoration: line-through; */
}

.project-context-btn {
  height: var(--project-cell-height);
  width: var(--project-cell-height);
}

#main-content h1 {
  margin-bottom: var(--standard-padding);
}

.project-description {
  margin-bottom: var(--standard-padding);
}

#main-content ul {
  align-self: center;
  width: min(700px, 100%);
  list-style-type: none;
}

#main-content li {
  margin-bottom: var(--standard-padding);
}

.todo-card {
  padding: var(--standard-padding) 0;
  display: grid;
  grid-template-columns: min-content 1fr;
  grid-template-rows: repeat(3, min-content);

  border-bottom: 1px solid var(--palette-light-gray);
}

.todo-card > div {
  padding: var(--minor-padding);
}

.todo-checkbubble-container {
  grid-row: 1 / -1;
  width: 50px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.todo-checkbubble-btn {
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 50%;
  border: 2px solid var(--palette-dark-gray);
  background-color: #00000000;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  /* changes based on status */
}

.todo-checkbubble-btn svg {
  width: 80%;
  visibility: hidden;
}

.todo-checkbubble-btn:hover {
  box-shadow: 0px 2px 7px -3px var(--palette-dark-gray);
}

.todo-completed svg {
  visibility: visible;
}

.todo-completed svg path {
  fill: white;
}

.todo-completed {

}

.todo-top-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--standard-padding);
}

.todo-title {
  color: initial; /* changes based on status */
  display: inline-block;
  min-width: 45ch;
  max-width: 72ch;
  word-break: break-all;
}

.todo-card:has(.todo-completed) .todo-title,
.todo-card:has(.todo-completed) .todo-due-by,
.todo-card:has(.todo-completed) .todo-description {
  /* text-decoration: line-through; */
}

.todo-btns-container {
  display: flex;
  flex-wrap: nowrap;
  gap: var(--minor-padding);  
}

.todo-btn {
  height: 24px;
  width: 24px;
}

.chevron-expanded path {
  d: path("M7.41,18.41L6,17L12,11L18,17L16.59,18.41L12,13.83L7.41,18.41M7.41,12.41L6,11L12,5L18,11L16.59,12.41L12,7.83L7.41,12.41Z");
}

.todo-due-by, 
.todo-description {
  font-size: 0.9rem;
  min-width: 45ch;
  max-width: 72ch;
}

.todo-description {
  color: var(--palette-dark-gray);
}

#this-project-create-todo-btn {
  width: 100%;
  height: 2rem;
  display: flex;
  align-items: center;
  gap: var(--standard-padding);
  padding: var(--standard-padding);

  border-radius: 8px;
  border: none;
  background-color: white;
  cursor: pointer;
}

#this-project-create-todo-btn:hover {
  color: var(--palette-accent); 
}

#this-project-create-todo-btn:hover svg.create-todo-icon path {
  d: path("M17,13H13V17H11V13H7V11H11V7H13V11H17M12,2A10,10 0 0,0 2,12A10,10 0 0,0 12,22A10,10 0 0,0 22,12A10,10 0 0,0 12,2Z");
}

#this-project-create-todo-btn .create-todo-icon {
  width: 1.25rem;
  height: 1.25rem;
}

.context-menu-sym {
  width: 1.5rem;
  height: 1.5rem;
}

.borderless-btn {
  border-radius: 4px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.square-btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.borderless-btn:hover {
  background-color: var(--palette-highlight);
}

.project-cell .project-context-btn:hover {
  background-color: var(--palette-highlight-dark);
}

/* ========================================================================== */
/* FORMS */
/* ========================================================================== */

dialog {
  margin: 8vh auto auto;
  padding: calc(2 * var(--standard-padding));
  border: none;
  box-shadow: 0px 2px 11px -3px var(--palette-dark-gray);
  -webkit-box-shadow: 0px 2px 11px -3px var(--palette-dark-gray);
  border-radius: 8px;
}

dialog::backdrop {
  /* A styleground for those who dare */
  /* background-image: linear-gradient(45deg, magenta, rebeccapurple, dodgerblue, green); */

  background-color: #000000;
  opacity: 0.3;
}

input,
textarea,
select {
  padding: 8px;
}

textarea[name="description"] {
  resize: vertical;
}

fieldset {
  border: none;
}

legend {
  font-weight: bold;
  font-size: 1.2rem;
  margin-bottom: var(--standard-padding);
}

#cu-project-form textarea[name="description"]{
  display: block;
  width: 100%;
}

#cu-project-form fieldset {
  display: flex;
  flex-flow: column wrap;
  gap: var(--minor-padding);
}

#cu-todo-form fieldset {
  display: grid;
  grid-template-columns: min-content 1fr;
  grid-template-rows: repeat(4, min-content);
  gap: var(--standard-padding);
}

#cu-todo-form select[name="priority"],
#cu-todo-form select[name="projectUuid"] {
  width: 100%;
}

.full-span-row {
  grid-column: 1 / -1;
}

.form-finish-row {
  margin-top: calc(2 * var(--standard-padding));
  display: flex;
  justify-content: flex-end;
  gap: var(--standard-padding);
}

.form-finish-row button {
  min-width: 80px;
  padding: 6px 12px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.form-finish-row button:hover {
  filter: brightness(95%);
}

.form-cancel-btn {
  background-color: #efefef;
  color: var(--palette-dark-gray);
}

.form-submit-btn {
  background-color: var(--palette-accent);
  color: white;
}

.context-menu {
  position: absolute;
  z-index: -1;
  display: grid;
  grid-auto-rows: 1fr;
  border: 2px solid var(--palette-accent);
}

/* To "fix" unexpected layering behavior with popovers - just hide them! */
.context-menu:not(:popover-open) {
  visibility: hidden;
}

.context-menu button {
  border: 2px solid var(--palette-accent);
  color: var(--palette-accent);
  height: 2rem;
  padding: 8px;
  display: flex;
  align-items: center;
}

span[data-operation] {
  text-transform: capitalize;
}